In [ ]:
fav_number = 19
if fav_number < 15:
  print("mine is smaller")
else:
  print("mine is bigger")

mine is bigger

In [ ]:
APPLE = 12
print(APPLE)

12

In [ ]:
for_int = 1748
print(for_int)

1748

In [ ]:
for i in range(7):
  print("its still rising ->", i)

its still rising -> 0
its still rising -> 1
its still rising -> 2
its still rising -> 3
its still rising -> 4
its still rising -> 5
its still rising -> 6

In [ ]:
hello = "recep"
for i in range(8):
  print("its still rising ->", hello, i)

its still rising -> recep 0
its still rising -> recep 1
its still rising -> recep 2
its still rising -> recep 3
its still rising -> recep 4
its still rising -> recep 5
its still rising -> recep 6
its still rising -> recep 7

In [ ]:
def greeting (name):

  print(f"{name}'i gördüm")
  print("Naber " + name)

greeting("Alice")
greeting("recep")

Alice'i gördüm
Naber Alice
recep'i gördüm
Naber recep

In [ ]:
jahre = 19
#jahre
print(type(jahre))
type(jahre)

<class 'int'>

19

In [ ]:
namen = 'bahar'
#namen
print(type(namen))
type(namen)

<class 'str'>

str

In [ ]:
learning_items = ['banana', 1.15, 19, 'kamasutra', 69, 'facesitting']
print(type(learning_items))
print(learning_items[3])
print(learning_items[4])
print(learning_items[5])
print(learning_items[0:3])
print(learning_items[0:])
print(learning_items[:3])

<class 'list'>
kamasutra
69
facesitting
['banana', 1.15, 19]
['banana', 1.15, 19, 'kamasutra', 69, 'facesitting']
['banana', 1.15, 19]

In [ ]:
learning_items[1] = 31.52
print(learning_items[1])
learning_items[1] = learning_items[5]
print(learning_items[1])

31.52
facesitting

In [ ]:
age = 19.8
age += 11.2
print(age, type(age))

31.0 <class 'float'>

In [ ]:
age = '19'
print(type(age))
age = int(age)
# print(type(age))

<class 'str'>
<class 'int'>

In [ ]:
name = input('Name:')
print('Greetings', name)

Name:reepNao
Greetings reepNao

In [ ]:
number = input("Number: ")
print(number + 10)

In [ ]:
number = int(input("Number: "))
print(number + 10)

Number: 44
54

In [ ]:
import math
floor_number = (math.floor(3.45))
print(floor_number, type(floor_number))

3 <class 'int'>

In [ ]:
import datetime

print(datetime.datetime.now())

In [ ]:
import random

print(random.randint(1,6))

In [ ]:
print(2 + 5)

In [ ]:
print("5 + 2 =", 5+2)
print("5 - 2 =", 5-2)
print("5 * 2 =", 5*2)
print("5 / 2 =", 5/2)
print("5 // 2 =", 5//2)
print("5 ** 2 =", 5**2)
print("5 % 2 =", 5%2)

In [ ]:
x = 5 # equivalent to x = 5
x += 5 # equivalent to x = x + 5
x -= 5 # equivalent to x = x - 5
x *= 5 # equivalent to x = x * 5
x /= 5 # equivalent to x = x / 5
x %= 5 # equivalent to x = x % 5
x //= 5 # equivalent to x = x // 5
x **= 5 # equivalent to x = x ** 5

In [ ]:
num1 = 10
num2 = 5

print(num1, ">", num2, "=", num1 > num2)
print(num1, ">=", num2, "=", num1 >= num2)
print(num1, "<", num2, "=", num1 < num2)
print(num1, "<=", num2, "=", num1 <= num2)
print(num1, "==", num2, "=", num1 == num2)
print(num1, "!=", num2, "=", num1 != num2)

10 > 5 = True
10 >= 5 = True
10 < 5 = False
10 <= 5 = False
10 == 5 = False
10 != 5 = True

In [ ]:
print("True and True =", True and True)
print("True and False =", True and False)
print("False and True =", False and True)
print("False and False =", False and False)

True and True = True
True and False = False
False and True = False
False and False = False

In [ ]:
print(True and False and False)

False

In [ ]:
print("True or True =", True or True)
print("True or False =", True or False)
print("False or True =", False or True)
print("False or False =", False or False)

In [ ]:
print("not True =", not True)
print("not False =", not False)

In [ ]:
name = input("whtas your name")
age = input(name + "how old r u")
print(age + name)

whtas your nameAli
Alihow old r u15
15Ali

In [ ]:
help()

In [ ]:
celsius = 25
if celsius > 20:
  print('Good 🟩')

Good 🟩

In [ ]:
celsius = 18
if celsius > 20:
  print('Good 🟩')

In [ ]:
celsius = 18
if celsius > 20:
  print('Good 🟩')
else:
  print('Cold ❄️')

In [ ]:
celsius = 32
if celsius > 30:
  print('Hot 🔥')
if celsius > 20:
  print('Good 🟩')
else:
  print('Cold ❄️')

In [ ]:
celsius = 32
if celsius > 30:
  print('Hot 🔥')
elif celsius > 20:
  print('Good 🟩')
else:
  print('Cold ❄️')

In [ ]:
celsius = 32

if celsius > 30:
  print('Hot 🔥')
elif 30 >= celsius > 20:
  print('Good 🟩')
elif -273 < celsius <= 20:
  print('Cold ❄️')
else:
  print('Something went wrong!')

In [ ]:
drivers_licence = True
age = 17

if age > 17:
    if drivers_licence:
        print('You can drive car')
    else:
        print('You need to go to a drivers licence course')
else:
    print('You need to get older')

You need to get older

In [ ]:
volcano_name = 'allsexpositionsarefine'

for i in volcano_name:
  print(i)
print('Loop is completed')

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9,10]
for i in numbers:
  print(i)

print('Loop is completed')

In [ ]:
for i in range(5,21):
  print(i)
print('Loop is completed')

In [ ]:
for i in range(1,101):
  if i % 5 == 0:
    print(i)

print('Loop has been completed')

In [ ]:
celsius = 10

if celsius > 30:
  print('Hot 🔥')
elif 30 >= celsius > 20:
  print('Good 🟩')
elif -273 < celsius <= 20:
  print('Cold ❄️')
else:
  print('Something went wrong!')

In [ ]:
celcius = 10

while celcius < 50:

  if celcius > 30:
    print('Hot 🔥')
  elif 30 >= celcius > 20:
    print('Good 🟩')
  elif -273 < celcius <= 20:
    print('Cold ❄️')
  else:
    print('Something went wrong!')

In [ ]:
celcius = 10

while celcius < 50:

  if celcius > 30:
    print('Hot 🔥')
  elif 30 >= celcius > 20:
    print('Good 🟩')
  elif -273 < celcius <= 20:
    print('Cold ❄️')
  else:
    print('Something went wrong!')
  celcius += 5

In [ ]:
celcius = 10

while celcius < 50:

  if celcius > 30:
    print('Hot 🔥')
  elif 30 >= celcius > 20:
    print('Good 🟩')
  elif -273 < celcius <= 20:
    print('Cold ❄️')
  else:
    print('Something went wrong!')
  print('The current temperature is',celcius)
  celcius += 5

In [ ]:
import time
celcius = 10

while celcius < 50:

  if celcius > 30:
    print('Hot 🔥')
  elif 30 >= celcius > 20:
    print('Good 🟩')
  elif -273 < celcius <= 20:
    print('Cold ❄️')
  else:
    print('Something went wrong!')
  print('The current temperature is',celcius)
  celcius += 5
  time.sleep(1)

In [ ]:
while True:
  print('I love you!')

In [ ]:
import time
counter = 0

while counter >= 0:
  counter += 1

  print(counter)
  time.sleep(1)

In [ ]:
import random
while True:

    random_number = random.randrange(1000)
    print(random_number)

    if random_number == 777:
        print('Found!')
        break

In [ ]:
names = ['Max', 'Felix', 'Deniz', 'Selin', 'Lucas', 26, 'Sarah']

for name in names:

    if type(name) != str:
        print('Found', name)
        break

    else:
        print(name, 'is a string!')

In [ ]:
x = True
y = False
z = False

if not x or y:
  print(1)
elif not x or not y and z:
  primnt(2)
elif not x or y or not y and x:
  print(3)
else:
  print(4)

3

In [ ]:
number = '15'
print('Type of number before int() function: ', type(number))

number = int(number)

print('Type of number after int() function: ', type(number))

In [ ]:
def hello(name):
  print('Hello', name)

In [ ]:
hello('Deniz')

In [ ]:
def sum(number1, number2):
  print(number1 + number2)

In [ ]:
sum(3, 5)

In [ ]:
result = sum(3, 5)
print(result)

In [ ]:
def sum(number1, number2):
  answer = number1 + number2
  return answer

result = sum(3, 5)
print(result)

In [ ]:
def argument_printer(arg_position1, arg_position2):
   print('Argument at position 1:', arg_position1)
   print('Argument at position 2:', arg_position2)

In [ ]:
argument_printer('value 1', 'value 2')

In [ ]:
argument_printer()

In [ ]:
def greetings(first_name, last_name, auto_correction):
  if auto_correction == True:
    capitalized_first_name = first_name.capitalize()
    capitalized_last_name = last_name.capitalize()
    print("Hello,", capitalized_first_name, capitalized_last_name)
  else:
    print("Hello,", first_name, last_name)

In [ ]:
greetings('deNiZ', 'kaYa', True)

In [ ]:
greetings('deNiZ', 'kaYa', False)

In [ ]:
def greetings(first_name, last_name, auto_correction = True):
  if auto_correction == True:
    capitalized_first_name = first_name.capitalize()
    capitalized_last_name = last_name.capitalize()
    print("Hello,", capitalized_first_name, capitalized_last_name)
  else:
    print("Hello,", first_name, last_name)

In [ ]:
greetings('deNiz', 'kAYa')

In [ ]:
def car(brand, model, colour):
    print('My favourite car is the', brand, model, 'in the colour', colour)

In [ ]:
car('Audi', 'R8', 'black')

In [ ]:
car(colour = 'black', model = 'R8', brand = 'Audi')

In [ ]:
car(colour = 'Audi', model = 'R8', 'black')

In [ ]:
number = 13 #Global Variable

def change_number():
 number = 4 #Local Variable

change_number()
print(number)

In [ ]:
#number = 13

def change_number():
 num = 4

change_number()
print(num)

In [ ]:
number = 13

def change_number():
 global number
 number = 4

change_number()
print(number)